.regContainer {
    width: 600px;
    margin: auto;
    color: white;
    line-height: 30px;
    background-color: rgba(99, 98, 98, 0.8);
    border-color: black;
    border-radius: 5px;
    border-width: .5px;
    border-style: solid;
}
