.formContainer {
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 80px auto;
    max-width: 500px;
    min-width: 300px;
    padding-bottom: 2em;
    background-color: rgba(99, 98, 98, 0.8);
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-radius: 50px;
    border-width: medium;
    border-color: black;
    font-family: 'Roboto', sans-serif;
}

input {
    text-align: center;
}

label {
    display: block;
    margin: 0.5rem 0;
}

#btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginBtn {
    color: white;
    background-color: rgba(99, 98, 98, 0.8);
    width: 140px;
    height: 40px;
    border-radius: 25px;
    border-style: solid;
    border-width: medium;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
    cursor: pointer;
}


    .loginBtn:hover {
        background-color: rgb(149, 148, 148);
    }

.loginBtn:nth-child(1) {
    background-color: rgba(255, 102, 0, 0.8);
}

    .loginBtn:nth-child(1):hover {
        background-color: rgb(255, 153, 51);
    }